.container1 {
	width: 1024px;
	margin: 0 auto;
}


.header1 {
    padding: 26px;
    width:95%;
    height: 75px;
    background-color: orange;
}

.logo1 {
    padding: 20px;
    size: 15%;
    background-color: rgb(216, 67, 92);
	float: left;
}

.navigation1 {
    padding:20px;
    background-color: rgb(175, 69, 27);
	float: right;
}

.sidebar1 {
    background-color: rgb(202, 160, 80);
	float: left;
	width: 25%;
	height: 300px;
}

.main1 {
    background-color: grey;
	float: left;
	width: 75%;
	height: 300px;
}

.footer1 {
     height:30%;
    background-color: greenyellow;
}

a:hover {
	color: #FFBE56;
}

